HISframeworks/PrehospitalEmergency/AToMS2.0/atoms2.0-Emer/src/wsdl/localhost_8084/atoms2.0-CT/AnalysisService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ct.martin.lncc.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ct.martin.lncc.org/" name="AnalysisService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.ct.martin.lncc.org/" schemaLocation="http://localhost:8084/atoms2.0-CT/AnalysisService?xsd=1"/>
</xsd:schema>
</types>
<message name="finishAnalysis">
<part name="parameters" element="tns:finishAnalysis"/>
</message>
<message name="finishAnalysisResponse">
<part name="parameters" element="tns:finishAnalysisResponse"/>
</message>
<message name="sendAnalysisRequest">
<part name="parameters" element="tns:sendAnalysisRequest"/>
</message>
<message name="sendAnalysisRequestResponse">
<part name="parameters" element="tns:sendAnalysisRequestResponse"/>
</message>
<message name="getAnalysisRequest">
<part name="parameters" element="tns:getAnalysisRequest"/>
</message>
<message name="getAnalysisRequestResponse">
<part name="parameters" element="tns:getAnalysisRequestResponse"/>
</message>
<message name="getXMLAnalysisResponse">
<part name="parameters" element="tns:getXMLAnalysisResponse"/>
</message>
<message name="getXMLAnalysisResponseResponse">
<part name="parameters" element="tns:getXMLAnalysisResponseResponse"/>
</message>
<message name="getAllAnalysisRequestPending">
<part name="parameters" element="tns:getAllAnalysisRequestPending"/>
</message>
<message name="getAllAnalysisRequestPendingResponse">
<part name="parameters" element="tns:getAllAnalysisRequestPendingResponse"/>
</message>
<message name="searchAnalysisResponse">
<part name="parameters" element="tns:searchAnalysisResponse"/>
</message>
<message name="searchAnalysisResponseResponse">
<part name="parameters" element="tns:searchAnalysisResponseResponse"/>
</message>
<message name="getAnalysisResponse">
<part name="parameters" element="tns:getAnalysisResponse"/>
</message>
<message name="getAnalysisResponseResponse">
<part name="parameters" element="tns:getAnalysisResponseResponse"/>
</message>
<message name="getEcgList">
<part name="parameters" element="tns:getEcgList"/>
</message>
<message name="getEcgListResponse">
<part name="parameters" element="tns:getEcgListResponse"/>
</message>
<message name="getMultimedia">
<part name="parameters" element="tns:getMultimedia"/>
</message>
<message name="getMultimediaResponse">
<part name="parameters" element="tns:getMultimediaResponse"/>
</message>
<message name="sendAnalysisResponse">
<part name="parameters" element="tns:sendAnalysisResponse"/>
</message>
<message name="sendAnalysisResponseResponse">
<part name="parameters" element="tns:sendAnalysisResponseResponse"/>
</message>
<portType name="AnalysisService">
<operation name="finishAnalysis">
<input wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/finishAnalysisRequest" message="tns:finishAnalysis"/>
<output wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/finishAnalysisResponse" message="tns:finishAnalysisResponse"/>
</operation>
<operation name="sendAnalysisRequest">
<input wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/sendAnalysisRequestRequest" message="tns:sendAnalysisRequest"/>
<output wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/sendAnalysisRequestResponse" message="tns:sendAnalysisRequestResponse"/>
</operation>
<operation name="getAnalysisRequest">
<input wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/getAnalysisRequestRequest" message="tns:getAnalysisRequest"/>
<output wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/getAnalysisRequestResponse" message="tns:getAnalysisRequestResponse"/>
</operation>
<operation name="getXMLAnalysisResponse">
<input wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/getXMLAnalysisResponseRequest" message="tns:getXMLAnalysisResponse"/>
<output wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/getXMLAnalysisResponseResponse" message="tns:getXMLAnalysisResponseResponse"/>
</operation>
<operation name="getAllAnalysisRequestPending">
<input wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/getAllAnalysisRequestPendingRequest" message="tns:getAllAnalysisRequestPending"/>
<output wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/getAllAnalysisRequestPendingResponse" message="tns:getAllAnalysisRequestPendingResponse"/>
</operation>
<operation name="searchAnalysisResponse">
<input wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/searchAnalysisResponseRequest" message="tns:searchAnalysisResponse"/>
<output wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/searchAnalysisResponseResponse" message="tns:searchAnalysisResponseResponse"/>
</operation>
<operation name="getAnalysisResponse">
<input wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/getAnalysisResponseRequest" message="tns:getAnalysisResponse"/>
<output wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/getAnalysisResponseResponse" message="tns:getAnalysisResponseResponse"/>
</operation>
<operation name="getEcgList">
<input wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/getEcgListRequest" message="tns:getEcgList"/>
<output wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/getEcgListResponse" message="tns:getEcgListResponse"/>
</operation>
<operation name="getMultimedia">
<input wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/getMultimediaRequest" message="tns:getMultimedia"/>
<output wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/getMultimediaResponse" message="tns:getMultimediaResponse"/>
</operation>
<operation name="sendAnalysisResponse">
<input wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/sendAnalysisResponseRequest" message="tns:sendAnalysisResponse"/>
<output wsam:Action="http://ws.ct.martin.lncc.org/AnalysisService/sendAnalysisResponseResponse" message="tns:sendAnalysisResponseResponse"/>
</operation>
</portType>
<binding name="AnalysisServicePortBinding" type="tns:AnalysisService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="finishAnalysis">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendAnalysisRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnalysisRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getXMLAnalysisResponse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllAnalysisRequestPending">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchAnalysisResponse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAnalysisResponse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEcgList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMultimedia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendAnalysisResponse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AnalysisService">
<port name="AnalysisServicePort" binding="tns:AnalysisServicePortBinding">
<soap:address location="http://localhost:8084/atoms2.0-CT/AnalysisService"/>
</port>
</service>
</definitions>